<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.data.home.title | default: "Nadja & Jeppe bryllup" }}</title>
  <style type="text/css">
    .masthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 35rem;
      padding: 15rem 0;
      background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 60%, rgba(22, 22, 22, 0.7) 100%, #161616 100%), url("../assets/uploads/top_billede.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
  </style>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#program"><strong>{{site.data.home.section-1}}</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#hvoroghvornaar"><strong>{{site.data.home.section-2}}</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#oensker"><strong>Ønsker</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact"><strong>{{site.data.home.section-3}}</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" style="background-color: #AFD2FC!important;">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">{{site.data.home.heading-1}}</h1>
        <h1 class="mx-auto my-0">{{site.data.home.heading-2}}</h1>
      </div>
    </div>
  </header>

  <!-- Section 1 -->
  <section id="program" class="program-section text-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h6 class="text-white mb-4"><b>Programmet</b></h6>
          <h6 class="text-white mb-4">Kl. 15:00 - Vielse i Garnisonskirken</h6>
          <h6 class="text-white mb-4">Kl. 15:30 - Fællesbilleder foran kirken</h6>
          <h6 class="text-white mb-4">Kl. 16:00 - Velkomstdrink og Canape på Hotel Sankt Annæ</h6>
          <h6 class="text-white mb-4">Kl. 18:00 - Forret / Hovedret</h6>
          <h6 class="text-white mb-4">kl. 20:00 - Kaffe / Kage & Avec</h6>
          <h6 class="text-white mb-4">kl. 21:00 - Brudevals & Drinks</h6>
          <h6 class="text-white mb-4">Kl. 24:00 - Festen slutter</h6>
          <br>
          <p class="text-white mb-4">Har du ønsker om at holde tale bedes du koordinere med toastmaster. Kontaktoplysninger står i bunden af siden.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 2   class="img-fluid mb-3 mb-lg-0"-->

  <div class="container-fluid no-padding">
    <div class="row" style="width: 100%; margin: 0">
      <div class="col-12 no-padding">
        <img src="assets/uploads/sankt_annae_blomster.jpg" alt="" class="img-responsive fit-image">
      </div>
    </div>
  </div>
  <section id="hvoroghvornaar" class="projects-section bg-light">
    <div class="container" style="margin-bottom: 3em">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-12">
          <div class="text-center col-12">
            <h4>{{site.data.home.section-2-heading}}</h4>
            <div class="row" style="margin-top: 2em">
              <div class="col-6">
                  <p class="text-black-50 mb-0 text-center" style="font-size: 15px"><b>Vielsen</b><br>Garnisonskirken kl. 15:00<br>Sankt Annæ Plads 4<br>1250 København K</p>
              </div>
              <div class="col-6">
                  <p class="text-black-50 mb-0 text-center" style="font-size: 15px"><b>Festen</b><br>Hotel Sankt Annæ kl. 16:00<br>Sankt Annæ Plads 18 – 20<br>1250 København K</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="map" style="height: 20em"></div>
    </div>
  </section>

  <!-- Section 3 -->
  <section id="oensker" class="program-section text-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h6 class="text-white mb-4"><b>Gaveønkser</b></h6>
          <h6 class="text-white mb-2">Penge</h6>
          <h6 class="text-white mb-2">$$$</h6>
          <br>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 4 -->
  <section id="contact" class="write-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">{{site.data.home.section-3-heading}}</h2>
          <p class="text-white mb-5">Svar udbedes senest 1. maj.<br> Har du allergier eller andre madpræferencer bedes du skrive dem i dit svar.</p>

          <form id="contact-form" class="form-inline d-flex" action="/" data-netlify="true" name="contact-form">
            <div class="container">
              <div class="row justify-content-between">
                <input type="text" class="form-control col-sm-5 mb-3" id="inputName" name="name" placeholder="Navn...">

                <input type="email" class="form-control col-sm-6 mb-3 mb-sm-3" id="inputEmail" name="email" placeholder="Email adresse...">
              </div>
            </div>
            <textarea type="text" class="form-control col-sm-12 mb-3 mb-sm-3" id="inputMessage" name="message" placeholder="Besked..." style="resize: none; height: 8em"></textarea>

            <button type="submit" class="btn btn-primary mx-auto flex-fill sendBtn">Send</button>
          </form>
          <div class="alert alert-success mx-auto flex-fill" role="alert" style="display: none; position: absolute;">
            Sendt!
          </div>
          <div class="alert alert-danger mx-auto flex-fill" role="alert" style="display: none; position: absolute;">
            Der skete en fejl
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 5-->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-glass-martini-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Toastmaster</h4>
              <hr class="my-4">
               <div class="small text-black-50">Morten Stampe<br>60 13 18 35<br>mortenstampe@gmail.com</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Værter</h4>
              <hr class="my-4">
                <div class="small text-black-50">Nadja&Jeppe<br>28 55 14 93<br>nadjaogjeppe@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.js"></script>

  <!-- Maps -->
  <script>
    function initMap() {
        var kirke = new google.maps.LatLng(55.681948, 12.589221);
        var locations = [
          ['<b>Garnisonskirken</b><br>Sankt Annæ Plads 4<br>1250 København K', 55.681948, 12.589221, 1],
          ['<b>Hotel Sankt Annæ</b><br>Sankt Annæ Plads 18 – 20<br>1250 København K', 55.681269, 12.591733, 2]
        ];

        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: kirke,
            zoom: 16,
            panControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var infowindow = new google.maps.InfoWindow();
        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiqEb0-FH2b-hretE_ia9nRLa06DlQgoI&callback=initMap" async defer></script>

</body>

</html>
